html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}

input:focus {
    outline: none;
}

:root {
    --site-red: #974643;
    --site-teal: #439497;
    --site-violet: #97436a;
    --site-brown: #977043;
    --site-green1: #949743;
    --site-green2: #439746;
    --black-shadow: rgba(0, 0, 0, 0.251);
    --rvv: calc(1rem + 1vh + 1vw);
}

html, body {
    height: 100%;
    width: 100%;
}

@font-face {
    font-family: 'Sublima';
    src: url('font/sublima-light.otf');
}

body {
    font-family: 'Sublima', Helvetica, 'Open Sans', sans-serif;
    display: grid;
    grid-template: 1fr 10px / 1fr 5fr;
    grid-template-areas: 
        "sidebar main"
        "footer footer";
    background-color: #ffcc92;
}

.sidebar {
    grid-area: sidebar;
    min-height: 100%;
    display: grid;
    row-gap: calc(.5rem + 1vh);
    grid-template: minmax(50px, 100px) 1fr / 1fr;
    padding: calc(.5rem + 1vw);
    background-color: #71c374;
}

.sidebar li {
    width: fit-content;
    cursor: pointer;
    transition: 0.1s;
}

.sidebar li:hover {
    transform: scale(1.2);
}

.sidebar img {
    height: 100%;
    margin-right: .75rem;
}

.logo {
    justify-self: center;
    align-self: center;
    max-height: 15vh;
    display: flex;
    justify-content: center;
    align-items: center;
    font-weight: 900;
    font-size: calc(.7*var(--rvv));
    border: 1px solid black;
    border-radius: 20px;
    padding: 15px 20px;
    background-color: #f3f6bab5;
    box-shadow: 0 0 10px var(--black-shadow);
}

.logo img {
    height: calc(1.1*var(--rvv));
}

.user-options {
    margin-bottom: calc(1rem + 1vh);
}

.user-options-links {
    display: grid;
    grid-template-rows: minmax(1rem, 5vh);
    grid-auto-rows: minmax(1rem, 5vh);
    row-gap: calc(.2rem + 1vh);
}

.user-options-links li {
    display: flex;
    justify-content: flex-start;
    align-items: center;
}

.main {
    grid-area: main;
    display: grid;
    grid-template: minmax(.9fr, 200px) .2fr 5fr / 1fr;
}

.header {
    background-color: #efa09f;
    display: grid;
    grid-template: 2fr 3fr / 3fr 2fr;
    row-gap: calc(.2*(var(--rvv)));
    column-gap: 1rem;
    padding-top: calc(.5rem + 1vw);
    padding-right: calc(3rem + 1vh + 1vw);
    padding-bottom: calc(.5rem + 1vw);
    padding-left: calc(.5rem + 1vw);
}

.pro-pic {
    border-radius: 50%;
    border: 1px solid black;
    box-shadow: 0 0 10px var(--black-shadow);
}

.search-bar {
    display: flex;
    align-items: center;
    margin: 0 3rem 0 1rem;
}

.search-bar label {
    height: 2rem;
}

.search-bar label img {
    height: 100%;
}

.search-bar input {
    height: 2em;
    flex: 1;
    border-radius: 12px;
    border: 1px solid black;
    box-shadow: 0 0 3px var(--black-shadow);
    padding-left: 10px;
    background-color: rgba(255, 255, 255, 0.835);
}

.search-bar input:focus {
    border: none;
    outline: var(--site-teal) 2px solid;
}

.user-info {
    justify-self: end;
    display: flex;
    align-items: center;
    gap: calc(.5*(var(--rvv)));
}

.user-info .profile-picture {
    cursor: pointer;
}

.alert-icon {
    height: calc(1rem + 1vw + 1vh);
    max-height: 2rem;
    cursor: pointer;
}

.alert-icon img {
    height: 100%;
}

.username {
    cursor: pointer;
}

.user-greeting {
    padding-left: calc(.3*var(--rvv));
    display: flex;
    align-items: center;
}

.profile-picture {
    display: flex;
    justify-content: center;
    align-items: center;
    height: calc(1rem + 1.5vw + 1.5vh);
    max-height: 3rem;
}

div.user-greeting .profile-picture {
    margin-right: calc(.3*var(--rvv));
    height: calc(2rem + 2vw + 2vh);
    max-height: 4rem;
}

.profile-picture img {
    height: 100%;
}

.greeting-text {
    font-size: calc(.7rem + .3vw);
}

.hi-there {
    font-size: 80%;
}

.full-name {
    font-size: 120%;
    font-weight: 900;
    cursor: pointer;
}

.user-actions {
    justify-self: end;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: calc(1rem + 1vw + 1vh)
}

.user-actions button {
    font-family: 'Sublima', Helvetica, 'Open Sans', sans-serif;
    font-size: calc(.5rem + .2*var(--rvv));
    width: calc(3*var(--rvv));
    padding: calc(.2rem + .2vw + .2vh) calc(.2rem + .5vw + .5vh);
    border-radius: 25px;
    border: 1px solid black;
    background-color: #f3f6bab5;
    box-shadow: 0 0 5px var(--black-shadow);
    cursor: pointer;
    transition: .1s;
}

.user-actions button:hover {
    transform: scale(1.1);
}

.headings {
    margin-left: calc(0.5vh + 0.5vw);
    grid-area: headings;
    display: flex;
    align-items: flex-end;
}

.projects-heading,
.announcements-heading,
.trending-heading {
    max-height: 100%;
    display: flex;
    align-items: flex-end;
    font-size: calc(.55*var(--rvv));
    font-weight: bold;
}


.announcements-heading {
    position: absolute;
    top: calc((-1.15)*var(--rvv));
}

.content {
    margin-left: calc(0.5vh + 0.5vw);
    display: grid;
    grid-template: calc(1.5*var(--rvv)) 1fr / 5fr 2fr;
    grid-template-areas: 
        "headings headings"
        "projects right-column";
    column-gap: calc(2*(0.5vh + 0.5vw));
}

.projects {
    grid-area: projects;
    display: grid;
    grid-template-rows: minmax(1fr, 100px);
    grid-auto-rows: minmax(1fr, 100px);
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
}

.project-card {
    margin: calc(0.5vh + 0.5vw);
    display: grid;
    grid-template: minmax(10px, 60px) 3fr calc(1.4*var(--rvv)) / 1fr 1fr;
    row-gap: calc(.7*var(--rvv));
    grid-template-areas: 
        "title title"
        "info info"
        ". icons";
    background-color: rgba(255, 255, 255, 0.777);
    border-radius: 15px;
    border: 1px solid black;
    border-left: var(--site-red) 6px solid;
    box-shadow: 0 0 7px var(--black-shadow);
    padding: 1rem;
}

.project-title {
    font-style: italic;
    grid-area: title;
    align-self: end;
    font-size: 130%;
    font-weight: bolder;
    cursor: pointer;
    border-bottom: 1px solid grey;
}

.project-info {
    grid-area: info;
}

.book-title {
    font-style: italic;
}

q {
    margin-left: 1rem;
    font-size: 80%;
}

.project-icons {
    grid-area: icons;
    display: flex;
    align-items: center;
    justify-content: flex-end;
    position: relative;
}

.project-icons img {
    cursor: pointer;
}

.star {
    position: relative;
    bottom: 5%;
    left: 5px;
    height: 100%;
}

.edit,
.share {
    height: 70%;
}

.right-column {
    grid-area: right-column;
    display: grid;
    grid-template: clamp(100px, 400px, 100vh) clamp(100px, 400px, 85vh) / 1fr;
    margin-right: calc(0.5vh + 0.5vw);
}

.announcements {
    position: relative;
    margin: calc(0.5vh + 0.5vw);
    display: grid;
    grid-template: 1fr / 1fr;
    grid-auto-rows: 1fr;
    background-color: rgba(255, 255, 255, 0.777);
    border-radius: 15px;
    border: 1px solid black;
    box-shadow: 0 0 7px var(--black-shadow);
    padding-bottom: calc(.2*var(--rvv));
}

.announcement {
    max-width: calc(7*var(--rvv));
    margin: 0 2vw;
    display: flex;
    flex-direction: column;
    justify-content: center;
    border-bottom: 1px solid grey;
}

.announcements div:last-of-type {
    border-bottom: none;
}

.announcement-heading {
    font-style: bolder;
    cursor: pointer;
}

.announcement-text {
    font-size: calc(.3*var(--rvv));
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
}


@media only screen and (max-width: 600px) {
    .announcement-text {
        display: none;
    }
}

@media only screen and (max-height: 300px) {
    .announcement-text {
        display: none;
    }
}

.trending {
    margin-top: calc(.3*var(--rvv));
    display: grid;
    align-items: center;
    grid-template: minmax(2rem, 6vh) 1fr / 1fr;
    row-gap: calc(.8*var(--rvv));
}

.trending-heading {
    height: 100%;
    padding-left: calc(.3*var(--rvv));
}

.trending-items-container {
    padding: calc(.3*var(--rvv));
    margin: 0 calc(0.5vh + 0.5vw) calc(0.5vh + 0.5vw);
    height: 100%;
    display: grid;
    grid-template: 1fr / 1fr;
    grid-auto-rows: 1fr;
    background-color: rgba(255, 255, 255, 0.777);
    border-radius: 15px;
    border: 1px solid black;
    box-shadow: 0 0 7px var(--black-shadow);
}

.trending-item {
    margin: 0 2vw;
    display: flex;
    gap: calc(.3*var(--rvv));
    align-items: center;
    border-bottom: 1px solid grey;
}

.trending-items-container div:last-of-type {
    border-bottom: none;
}

.trending-icon img {
    height: calc(1rem + 1.5vw + 1.5vh);
    max-height: 3rem;
    border-radius: 50%;
    border: 1px solid black;
    box-shadow: 0 0 10px var(--black-shadow);
}

.trending-icon,
.trending-creator,
.trending-title {
    cursor: pointer;
}

.trending-title {
    font-style: italic;
}

.sidebar,
.main {
    margin-bottom: calc(2*var(--rvv));
}

footer {
    color: #fff2e2;
    font-size: calc(.4*var(--rvv));
    grid-area: footer;
    display: flex;
    justify-content: center;
    align-items: center;
    height: calc(1rem + var(--rvv));
    background-color: #2f9396;
}