html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}

html, body {
    min-height: 100%;
    min-width: 100%;
}

body {
    display: grid;
    grid-template-columns: 1fr 4fr;
    background: rgb(255,252,195);
    background: linear-gradient(90deg, rgba(255,252,195,0.5984768907563025) 0%, rgba(201,255,216,0.6012780112044818) 21%, rgba(225,212,245,0.6488970588235294) 54%, rgba(239,216,233,0.8533788515406162) 77%, rgba(255,200,200,0.8085609243697479) 100%);
}

div {
    border: 1px solid blue;
}

ul,li,label,input,button,h2 {
    border: .5px dotted red;
}

.sidebar {
    height: 100vh;
    display: grid;
    row-gap: calc(1rem + 5vh);
    grid-template: 1fr 2fr 5fr / 1fr;
}

.sidebar img {
    height: 100%;
}

.logo {
    max-height: 15vh;
    display: flex;
    justify-content: flex-start;
    align-items: center;
}

.user-options-links,
.settings-links {
    display: grid;
    grid-template-rows: minmax(1rem, 5vh);
    grid-auto-rows: minmax(1rem, 5vh);
}

.user-options-links li,
.settings-links li {
    display: flex;
    justify-content: flex-start;
    align-items: center;
}

.main {
    display: grid;
    grid-template: minmax(100px, 20vh) 1fr / 1fr;
}

.header {
    display: grid;
    grid-template: 1fr 2fr / 3fr 2fr;
}

.content {
    display: grid;
    grid-template: 1fr / 3fr 1fr;
}

.projects {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
}

.announcements {
    display: grid;
    grid-template: 1fr / 1fr;
} 

.trending {
    display: grid;
    grid-template: 1fr / 1fr;
}